<h1>Page d'accueil</h1>

<p>Ce site vous fournit la valeur du jour d'une once d'or en dollar US et vous permet de convertir n'importe quelle devise en
n'importe quelle unité d'or !</p>


<%= link_to "Cliquez ici pour accéder à la valeur du jour et à notre tableau de conversion !", convert_path %>
